#intro {
    height: 100%;

    background-image: url("../images/titleimg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 25% 10% 14% 35% 5%;

}

#title {
    text-align: center;
    font-family: $default-font;
    font-weight: bold;
    font-size: 60px; 
    letter-spacing: 8;

    color: white;

    grid-column-end: span 2;
    grid-row: 3;
    
}

#socialmedia {
    max-width: 30px;
    margin-left: 13px;
    
    grid-row: 4;
    grid-column: 1;

    display: flexbox;
    justify-items: flex-end;
}

#socialmedia > a {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-bottom: 3px;

    font-size: 30px;
    color: rgba(0, 0, 0, 255);
    mix-blend-mode: screen;
    text-align: center;

    border-radius: 50%;
    background: white;

    transition: 0.15s;

    animation-name: slide-from-left;
    animation-duration: 2s;
}

#socialmedia > a:hover {
    transform: scale(1.5);

    background: var(--hover-color, rgb(200, 200, 200));
    color: var(--icon-color, transparent);
    mix-blend-mode: normal;

    margin-bottom: 20px;
}  

#socialmedia:hover > a:not(:hover) {
    transform: translate(0px, -10px);
}

@keyframes slide-from-left {
    0% {background: rgba(0, 0, 0, 100); transform: translate(-100px, 0);}
    30% {background: rgba(0, 0, 0, 100); transform: translate(-100px, 0);}
    100% {background: rgb(240,240,240); transform: translate(0px, 0);}
}

.fa-youtube {--hover-color:linear-gradient(to bottom right, #ff0000 0%, #8f0000 100%);--icon-color:white;}
.fa-twitter {--hover-color:linear-gradient(to bottom right, #1da1f2 0%, #196da1 100%);--icon-color:white;}
.fa-github {--hover-color:linear-gradient(to bottom right, #6787a7 0%, #3e464e 100%);--icon-color:white;}
.fa-instagram {--hover-color: linear-gradient(to bottom right, #ffff00 -9%, #ff33cc 100%);--icon-color:white;}


#pointer {
    width: 70px;
    margin: 0 auto 0 auto;

    grid-row: 6;
    grid-column-end: span 2;

    animation-name: pointerScale;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}

#pointer:hover {
    animation-name: pointerScale2;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}

@keyframes pointerScale {
    50% {transform: scale(1.1);}
}
@keyframes pointerScale2 {
    50% {transform: scale(1.1);}
}

@media only screen and (max-width: 800px) {
    #socialmedia {
        max-width: 70%;
        margin-left: calc(50% - 180px / 2);

        grid-row: 6;
        grid-column-end: span 2;
    }

    #socialmedia > a:hover {
        margin-right: 20px;
        margin-bottom: 0px;
    }
    
    #socialmedia:hover > a:not(:hover) {
        transform: translate(-10px, 0px);
    }

    #pointer {
        visibility: hidden;
        grid-column: 1;
    }
}