#selfpresentation {
    width: 100%;
    margin: 0;
    padding: 6vh 1vw 3vh 1vw;

    //background: rgb(119, 126, 133);
    background: linear-gradient(to bottom right, rgb(159, 167, 175) 0%, rgb(116, 122, 128) 100%);

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#selfpresentation > div > img {
    width: 250px;
    border-radius: 50%;

    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

#selfpresentation > div > p {
    margin-top: 15px;
    
    color: white;
    font-size: 35px;
    font-family: $default-font;
    line-height: 180%;
    text-align: center;
}

#selfpresentation > p {
    width: 80%;
    max-width: 750px;
    margin: 5vw 15px 0 4vw;
    
    color: white;
    font-size: 25px;
    line-height: 150%;
    font-family: $default-font;
}