
$heading-font: 'Anton-Regular', monospace, sans-serif;
$default-font: 'Ubuntu-Light', monospace, sans-serif;
@font-face {
    font-family: "Anton-Regular";
    src: url("/res/fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url("/res/fonts/Ubuntu-Light.ttf");
}


html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display:none;
}

@import "intro";

@import "selfpresentation";

@import "designrequest";

@import "github";