@font-face {
  font-family: "Anton-Regular";
  src: url("/res/fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("/res/fonts/Ubuntu-Light.ttf");
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

#intro {
  height: 100%;
  background-image: url("../images/titleimg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 35% 10% 14% 35% 5%;
}

#title {
  text-align: center;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 8;
  color: white;
  grid-column-end: span 2;
  grid-row: 2;
}

#socialmedia {
  max-width: 30px;
  margin-left: 13px;
  grid-row: 3;
  grid-column: 1;
  display: flexbox;
  justify-items: flex-end;
}

#socialmedia > a {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-bottom: 3px;
  font-size: 30px;
  color: black;
  mix-blend-mode: screen;
  text-align: center;
  border-radius: 50%;
  background: white;
  transition: 0.15s;
}

#socialmedia > a:hover {
  transform: scale(1.5);
  background: var(--hover-color, #c8c8c8);
  color: var(--icon-color, transparent);
  mix-blend-mode: normal;
  margin-bottom: 20px;
}

#socialmedia:hover > a:not(:hover) {
  transform: translate(0px, -10px);
}

.fa-youtube {
  --hover-color:linear-gradient(to bottom right, #ff0000 0%, #8f0000 100%);
  --icon-color:white;
}

.fa-twitter {
  --hover-color:linear-gradient(to bottom right, #1da1f2 0%, #196da1 100%);
  --icon-color:white;
}

.fa-github {
  --hover-color:linear-gradient(to bottom right, #6787a7 0%, #3e464e 100%);
  --icon-color:white;
}

.fa-instagram {
  --hover-color: linear-gradient(to bottom right, #ffff00 -9%, #ff33cc 100%);
  --icon-color:white;
}

#pointer {
  width: 70px;
  margin: 0 auto 0 auto;
  grid-row: 5;
  grid-column-end: span 2;
}

@media only screen and (max-width: 800px) {
  #socialmedia {
    max-width: 70%;
    margin-left: calc(50% - 180px / 2);
    grid-row: 5;
    grid-column-end: span 2;
  }

  #socialmedia > a:hover {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  #socialmedia:hover > a:not(:hover) {
    transform: translate(-10px, 0px);
  }

  #pointer {
    visibility: hidden;
    grid-column: 1;
  }
}
#selfpresentation {
  width: 100%;
  margin: 0;
  padding: 4vh 4vw 1vh 2vw;
  background: #777e85;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.2), 0 6px 19px -2px rgba(0, 0, 0, 0.19);
}

#selfpresentation > div > img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#selfpresentation > div > p {
  margin-top: 15px;
  color: white;
  font-size: 35px;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  line-height: 180%;
  text-align: center;
}

#selfpresentation > p {
  max-width: 750px;
  margin: 5vw 15px 0 15px;
  color: white;
  font-size: 25px;
  line-height: 150%;
  font-family: "Ubuntu-Light", monospace, sans-serif;
}

#designrequest {
  padding: 40px 15vw 35px 10px;
  display: flex;
  justify-content: center;
}

#designrequest > div > p[name=title] {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: bolder;
}

#designrequest > div > p {
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: gray;
}

#designrequest > button {
  height: 50px;
  padding: 0 15px;
  border: none;
  align-self: center;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  background-color: #768592;
}

#designrequest > button:hover {
  background-color: #575c61;
}

#github {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #a3acb4;
  box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.2), 0 -2px 16px 2px rgba(0, 0, 0, 0.19);
}

#github > div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 30px;
  color: white;
}

#github > div > p[name=icon] {
  font-size: 60px;
  margin-top: 15px;
  margin-right: 15px;
}

#repolist {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#repolist > div {
  width: 30%;
  min-width: 300px;
  height: 150px;
  margin: 3vw 3vw 1vh 3vw;
  padding: 25px 15px 15px 15px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 20% auto 20%;
}

/*# sourceMappingURL=index.css.map */
