
$heading-font: 'Anton-Regular', monospace, sans-serif;
$default-font: 'Ubuntu-Light', monospace, sans-serif;
@font-face {
    font-family: "Anton-Regular";
    src: url("/res/fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url("/res/fonts/Ubuntu-Light.ttf");
}


html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display:none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cap {
    width:70%; 
    margin-left: auto; 
    margin-right: auto;
    
    overflow: hidden;

    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2),0px 3px 14px 4px rgba(0,0,0,0.19);
}

@media only screen and (max-width: 1200px) {
    #cap {
        width: 100%;
        background-color: green;
    }
}

@import "intro";

@import "navigationbar";

@import "selfpresentation";

@import "designrequest";

@import "github";

@import "donation";