@font-face {
  font-family: "Anton-Regular";
  src: url("/res/fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("/res/fonts/Ubuntu-Light.ttf");
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cap {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2), 0px 3px 14px 4px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1200px) {
  #cap {
    width: 100%;
    background-color: green;
  }
}
#intro {
  height: 100%;
  background-image: url("../images/titleimg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 35% 10% 14% 35% 5%;
}

#title {
  text-align: center;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 8;
  color: white;
  grid-column-end: span 2;
  grid-row: 2;
}

#socialmedia {
  max-width: 30px;
  margin-left: 13px;
  grid-row: 3;
  grid-column: 1;
  display: flexbox;
  justify-items: flex-end;
}

#socialmedia > a {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin-bottom: 3px;
  font-size: 30px;
  color: black;
  mix-blend-mode: screen;
  text-align: center;
  border-radius: 50%;
  background: white;
  transition: 0.15s;
}

#socialmedia > a:hover {
  transform: scale(1.5);
  background: var(--hover-color, #c8c8c8);
  color: var(--icon-color, transparent);
  mix-blend-mode: normal;
  margin-bottom: 20px;
}

#socialmedia:hover > a:not(:hover) {
  transform: translate(0px, -10px);
}

.fa-youtube {
  --hover-color:linear-gradient(to bottom right, #ff0000 0%, #8f0000 100%);
  --icon-color:white;
}

.fa-twitter {
  --hover-color:linear-gradient(to bottom right, #1da1f2 0%, #196da1 100%);
  --icon-color:white;
}

.fa-github {
  --hover-color:linear-gradient(to bottom right, #6787a7 0%, #3e464e 100%);
  --icon-color:white;
}

.fa-instagram {
  --hover-color: linear-gradient(to bottom right, #ffff00 -9%, #ff33cc 100%);
  --icon-color:white;
}

#pointer {
  width: 70px;
  margin: 0 auto 0 auto;
  grid-row: 5;
  grid-column-end: span 2;
}

@media only screen and (max-width: 800px) {
  #socialmedia {
    max-width: 70%;
    margin-left: calc(50% - 180px / 2);
    grid-row: 5;
    grid-column-end: span 2;
  }

  #socialmedia > a:hover {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  #socialmedia:hover > a:not(:hover) {
    transform: translate(-10px, 0px);
  }

  #pointer {
    visibility: hidden;
    grid-column: 1;
  }
}
#selfpresentation {
  width: 100%;
  margin: 0;
  padding: 4vh 1vw 1vh 1vw;
  background: #777e85;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#selfpresentation > div > img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#selfpresentation > div > p {
  margin-top: 15px;
  color: white;
  font-size: 35px;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  line-height: 180%;
  text-align: center;
}

#selfpresentation > p {
  width: 80%;
  max-width: 750px;
  margin: 5vw 15px 0 15px;
  color: white;
  font-size: 25px;
  line-height: 150%;
  font-family: "Ubuntu-Light", monospace, sans-serif;
}

#designrequest {
  padding: 40px 10vw 35px 10vw;
  background-color: white;
}

#designrequest > div > p[name=title] {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: bolder;
}

#designrequest > div > p {
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: gray;
}

#designrequest > button {
  height: 50px;
  padding: 0 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  background-color: #355775;
}

#designrequest > button:hover {
  background-color: #476179;
}

#github {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #a3acb4;
}

#github > div {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 30px;
  color: white;
}

#github > div > p[name=icon] {
  font-size: 60px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

#repolist {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#repolist > div {
  width: 30%;
  min-width: 300px;
  margin: 3vw 3vw 1vh 3vw;
  padding: 25px 15px 15px 15px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 20% auto 30px;
}

#repolist a {
  text-decoration: none;
}

#repolist a:hover {
  text-decoration: underline;
}

#repolist a[name=reponame] {
  margin-top: 0;
  margin-right: auto;
  grid-column: 1;
  grid-row: 1;
  font-size: 22px;
  color: black;
}

#repolist a[name=ownername] {
  margin-left: auto;
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  font-size: 15px;
  color: gray;
}

#repolist p[name=description] {
  margin-bottom: 0;
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  font-size: 19px;
  color: black;
}

#repolist p[name=language] {
  grid-column: 1;
  grid-row: 3;
  text-align: left;
  font-size: 15px;
  color: gray;
}

#donation {
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

#donation > div > p {
  min-width: 300px;
  font-family: "Ubuntu-Light", monospace, sans-serif;
  font-size: 25px;
}

#donate {
  width: 200px;
  margin-top: 20px;
  align-self: flex-end;
}

#donate:focus {
  outline: 0;
}

#donate:hover {
  animation-name: scale;
  animation-duration: 0.8s;
  animation-iteration-count: 3;
}

@keyframes scale {
  50% {
    transform: scale(1.03);
  }
}
@media only screen and (max-width: 800px) {
  #donation > div[name=buffer] {
    visibility: hidden;
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
