<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/res/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <script src="/res/javascript/index.js"></script>

</head>

<body style="margin:0;background: linear-gradient(to bottom, #ffffff 60%, #c7cdda 100%);">

    <div id="intro" class="unselectable" style="box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2),0px 3px 14px 4px rgba(0,0,0,0.19);">

        {{template "navigationbar.html"}}

        <div id="title">
            <p>Lennart Sandbothe</p>
        </div>


        <div id="socialmedia">
            <!--<a class="fa fa-youtube"></a>
            <a class="fa fa-twitter"></a>
            <a class="fa fa-github"></a>
            <a class="fa fa-instagram"></a>-->
            <a class="fa fa-github"></a>
            <a class="fa fa-linkedin"></a>
            <a class="fa fa-instagram"></a>
            <a class="fa fa-youtube"></a>
        </div>

        <img id="pointer" src="./res/images/downarrow.png" onclick="scrollToBodyChild(1)">

    </div>

    <div id="cap">

    <div id="selfpresentation">

        <div>
            <img src="/res/images/sandbothe_bild.jpg" class="unselectable">
            <p>Hi,<br>Ich bin Lennart</p>
        </div>

        <!--<div name="buffer" style="width: 7vw;"></div>-->

        <p>
            Ein Schüler, der sich nebenbei das Programmieren,
            Elektrotechnik und jede Menge anderer Sachen beibringt,
            um - ungeplant - alle möglichen Projektideen umzusetzen, 
            die mir in den Sinn kommen.
            Oder um es zummindest zu versuchen... 
        </p>

    </div>

    <div id="designrequest">
        
        <div>
            <p name="title">Webdesign Auftrag?</p>
            <p>Du brauchst ein Website-Design inkl. Hosting für dich oder deine Firma?</p>
        </div>

        <button class="unselectable" onclick="window.location='/contact/'">Anfrage erstellen</button>

    </div>

    <div id="github">
        <div class="unselectable">
            <p name="icon" class="fa fa-github"></p>
            <p>GitHub Repositories</p>
        </div>

        <div id="repolist">
            {{range .}}
                <div>
                    <a name="reponame" href="{{.URL}}" target="_blank">{{.Name}}</a>
                    <a name="ownername" href="{{.Owner.URL}}" target="_blank">{{.Owner.Name}}</a>

                    <p name="description">{{.Description}}</p>

                    <p name="language">{{.Language}}</p>
                </div>

            {{end}}
        </div>
    </div>

    <div id="donation">

        <div>
            <p style="font-weight: bold;">Du willst Spenden?</p>
            <p> Jetzt einfach und sicher über PayPal!</p>
        </div>

        <div name="buffer" style="width:10vw"></div>

        <form class="unselectable" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="F35RPX2RWQKAG" />
            <input id="donate" type="image" src="https://sandbothe.dev/res/images/paypalDonate.png" border="0" name="submit" 
                title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
            <!--<img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />-->
        </form>
            
    </div>

    </div>

    {{template "footer.html"}}
    
</body>

</html>