<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/res/css/contact.css">

    <script src="/res/javascript/index.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        
</head>

<body style="margin: 0; display: flex; flex-direction: column;">

    <div id="bg-image"></div>

    {{template "navigationbar.html" "fixedBar"}}

    <div name="buffer" style="height: 35vh"></div>

    <h1 class="response">Ups! Da ist etwas schiefgelaufen.</h1>
    <h2 class="response" style="font-size: 2rem;">Bitte versuche es später erneut.</h2>

    {{template "footer.html"}}

</body>

</html>